.form1 {
  background-image: linear-gradient(to right, #6ac2f0, #c250c1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  
}
.form2 {
  display: flex;
  flex-direction: row;
}
.list {
  height: 89vh;
  width: 15vw;
  margin: 10px;
  border-radius: 10px;
  /* box-shadow */
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  background-color: white;
}
.frame {
  margin: 10px;
  height: 89vh;
  width: 82vw;
  border-radius: 10px;
  /* box-shadow */
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  background-color: white;
}
.navi {
  border-radius: 10px;
  /* box-shadow */
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
}
